:root {
  --primary: #191714;
  --secondary: #2234ae;
}
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, var(--primary), var(--secondary))
    no-repeat center center / cover;
  position: static;
  width: 100vw;
  height: 100vh;
  display: flex;
  font-family: "Londrina Shadow", cursive;
}

#first-screen {
  z-index: 100;
  background: url("images/GameStartingScreen.PNG") no-repeat center / cover;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#first-screen h1 {
  color: aliceblue;
  margin-bottom: 0;
  padding-bottom: 20%;
  font-size: 9rem;
}
#first-screen button {
  font-size: 45px;
  background-color: white;
  color: black;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20%;
  border-radius: 2rem;
  opacity: 0.5;
  font-family: "Londrina Shadow", cursive;
}
#first-screen button:hover {
  border: 0.2rem solid black;
  opacity: 0.8;
}

#second-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
#second-screen h1 {
  color: red;
  font-size: 2.5rem;
  margin-right: 25vw;
}
#second-screen h1 span {
  color: white;
}
#third-screen {
  background: url("images/GameOverScreen.jpg") no-repeat center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#third-screen button {
  font-size: 45px;
  background-color: white;
  color: black;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 40px;
  border-radius: 2rem;
  opacity: 0.5;
  width: 20vw;
  margin-bottom: 100%;
  font-family: "Londrina Shadow", cursive;
}
#third-screen button:hover {
  border: 0.2rem solid black;
  opacity: 0.8;
}
#third-screen p {
  font-size: 4rem;
  color: white;
}
